h1 = @user.name

= "#{User.human_attribute_name(:birthday)}:　#{@user.birthday}"
br
br
= "#{User.human_attribute_name(:skill)}:　#{@user.skill}"
br
br
= User.human_attribute_name(:profile)
br
= @user.profile
br
= link_to '編集', edit_user_path, class: 'btn btn-primary'