h1= @live.title

= "#{Live.human_attribute_name(:theater)}:　#{@live.theater}"
br
= "#{Live.human_attribute_name(:date)}:　#{@live.date}"
br
= "#{Live.human_attribute_name(:item)}:　#{@live.item}"
br
= "主催者:　#{User.find(@live.user_id).name}"

br
br
br
= link_to '出演者を選択する', new_comedian_path
br
= link_to 'スタッフを選択する', new_staff_path
h3 出演者
- @units&.each do |unit|
  = "#{@comedians.find_by(unit_id: unit.id).turn}:#{unit.name}"
  br
  = "タイトル:#{Neta.performance(unit)}"
  br

= link_to '香盤を変更する', koban_live_path, class: 'btn btn-primary'

h3 スタッフ一覧
- @staffs.each do |staff|
  = "#{User.find(staff.user_id).name}:#{staff.position}"
  br

= link_to 'スタッフの仕事を変更する', edit_staff_path(@live), class: 'btn btn-primary'