/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.app-title{
  background-color: #00ff7f;
  height: 80px;
}

.navbar-brand{
  padding: 30px;
  font-size: 50px;
}