.live_table{
  margin-top: 5em;
}

.live-syusai-btn{
  font-size: 25px;
  position: fixed;
  right: 100px;
  bottom: 100px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 2em;
  padding-left: 2em;
  border-radius: 4px;
}


// live/show
.live-profile{
  margin-bottom: 3em;
  h1{
    margin-bottom: 50px;
  }
  td{
  padding-left: 2em;
  }
  tr{
    height: 30px;
  }
}

.syutuen-btn a{
  margin: 5px;
}

.syutuen{
  margin-bottom: 100px;
  h2{
    margin-top: 80px;
    margin-bottom: 30px;
  }
  .dezyun{
    padding: 5px;
    text-align: center;
  }
  .conbimei{
    width: 20em;
    text-align: center;
  }
  .neta-name{
    width: 15em;
    text-align: center;
  }
  th, td{
    border: 1px solid;
  }
}

.staff-itiran{
  h2{
    margin-top: 80px;
    margin-bottom: 30px;
  }
  th{
    height: 3em;
  }
  .staff-user{
    width: 15em;
    text-align: center;
  }
  .staff-position{
    width: 23em;
    text-align: center;
  }
  th, td{
    border: 1px solid;
  }
}

.staff-change{
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  padding: 10px 12px;
  border: 1px solid transparent;
  margin: 40px auto;
  width: 15em;
  height: 3em;
}


// koban

.koban{
  display: flex;
}

.unit-name{
  border: 1px solid;
  padding: 10px 15px;
  width: 20em;
}

.unit-turn{
  height: 42px;
  width: 3em;
}

.live-change{
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  padding: 6px 12px;
  border: 1px solid transparent;
}


.live-title{
  margin-left: 2em;
}

.live-theater{
  margin-left: 4em;
}

.live-date{
  margin-left: 3em;
}

.live-item{
  margin-left: 1em;
}

// live/_form
