.choice_table{
  margin: 40px auto;
  tr{
    border-bottom: 1px solid rgb(177, 175, 175);
    margin-bottom: 3px;
  }
  th{
    width: 20em;
    padding-left: 10em;
    height: 4em;
  }
  td{
    width: 16em;
    padding-right: 10em;
  }
}

.relation-name{
  padding: 15px;
}

.member-choice{
  display: flex;
}

.relation-btn{
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 4px;
  height: 35px;
  margin-top: 8px;
}