.relation-name{
  padding: 15px;
}

.member-choice{
  display: flex;
}

.relation-btn{
  display: inline-block;
  text-align: center;
  border: 1px solid transparent;
  font-size: 14px;
  border-radius: 4px;
  height: 35px;
  margin-top: 8px;
}