// user/new
.user_new{
  margin-left: 200px;
  margin-top: 30px;
}

#user_password{
  margin-left: 2em;
}

#user_name{
  margin-left: 5em;
}

#user_email{
  width: 15em;
}

.form_control{
  margin-bottom: 10px;
}

.role_button{
  .form_control{
  width:  12px;
  height: 12px;
  }
  label{
    margin-right: 5em;
    margin-left: 3px;
  }
}

// user/edit
.user_edit_form{
  margin-top: 40px;
  margin-left: 100px;
}
#user_skill{
  margin-left: 2em;
  width: 30em;
}

#user_birthday{
  margin-left: 3em;
}

#user_profile{
  margin-left: 1em;
}

.profile{
  display: flex;
}

.user-name{
  text-align: center;
  margin-bottom: 1em;
}


// user/show
.profile-table{
  width: 30em;
  margin: 10px auto;
 th{
  width: 10em;
  border-right: 1px solid;
  border-color: rgb(177, 175, 175);
 }
 th, td{
   padding: 15px;
 }
 td{
   width: 20em;
   p{
    margin-top: 30px;
    font-size: 18px;
    color: rgb(16, 93, 0);
  }
 }
}

// user/_live
.staff_live{
  th{
    width: 10em;
    text-align: center;
   }
  th, td{
    padding: 15px;
  }
  td{
    width: 40em;
  }
}

.border-right{
  border-right: 1px solid;
  border-color: rgb(177, 175, 175);
}

.under-border{
  border-bottom: 1px solid;
  border-color: rgb(177, 175, 175);
}

.edit-btn{
  margin: 40px auto;
  padding: 5px 20px;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  font-size: 24px;
  right: 5em;
}

// _unit.html.slim
.belongs-unit{
  margin-top: 10em;
  h2{
    margin-bottom: 30px;
  }
  p{
    margin-top: 30px;
    font-size: 20px;
    color: rgb(16, 93, 0);
  }
  table{
    font-size: 18px;
    margin: auto;
    tr{
      height: 40px;
    }
    th{
      border-bottom: 1px rgb(177, 175, 175) solid;
    }
    .unit_name{
      width: 15em;
      border-right: 1px rgb(177, 175, 175) solid;
    }
    .member{
      width: 25em;
      text-align: center;
    }
    td{
      text-align: center;
    }
  }
}

.user_notice{
  margin-left: 130px;
}

// user/edit
.main_unit{
  p{
    font-weight: 700;
  }
}
