#user_password{
  margin-left: 2em;
}

#user_name, #user_role{
  margin-left: 5em;
}

#user_email{
  width: 20em;
}

#user_skill{
  margin-left: 5em;
  width: 30em;
}

#user_birthday{
  margin-left: 3em;
}

#user_profile{
  margin-left: 1em;
}

.profile{
  display: flex;
}

.btn{
  margin-left: 29em;
  width: 8em;
}

