h1= Unit.find(@neta.unit_id).name

h3= "タイトル:#{@neta.title}"

.neta-body
  h3 セリフ
  .serihu= simple_format(h(@neta.dialogue), {}, sanitize: false, wrapper_tag: "div")

h3= Neta.human_attribute_name(:item)
br
= @neta.item
br
h3 時間
= "#{@neta.minute}:#{@neta.second}"
br
= link_to '編集', edit_neta_path, class: 'neta-edit btn-primary'